services:
  db:
    image: postgres:16-alpine
    container_name: woow_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: woow_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d woow_db"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: woow_app
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      PORT: 3001
      NODE_ENV: production
      DATABASE_URL: postgresql://postgres:postgres@db:5432/woow_db
      JWT_SECRET: secreto_docker_super_seguro_de_al_menos_32_caracteres
      JWT_EXPIRES_IN: 7d
    ports:
      - "3001:3001"

volumes:
  postgres_data:
